<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <div class="jumbotron">
                <a href="/books" class="text-success"><h4>Take Me To Books</h4></a>
                <a href="/authors" class="text-success"><h4>Take Me To Authors</h4></a>
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
